{% block css %}
<link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
{% endblock css %}
{% load bootstrap4 %}
<div>
    <div>
        <form action= "{% url 'loadfile' %}" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="btn btn-primary col-12" name="loadfile" accept=".txt">
            <button type="submit">Load File</button>
        </form>
    </div>
    <hr>
    <h2>Section title</h2>
    <div class="table-responsive">
      <<table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">From.(Date)</th>
            <th scope="col">To.(Date)</th>
            <th scope="col">Rows</th>
            <th scope="col">Load data(ms)</th>
            <th scope="col">Create UI(ms)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.3545636</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-06-01</td>
            <td>2022-07-30</td>
            <td>1</td>
            <td>11.7982295</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-05-01</td>
            <td>2022-07-20</td>
            <td>1</td>
            <td>0.294847</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-03-23</td>
            <td>2022-04-30</td>
            <td>1</td>
            <td>0.1300018</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-05-21</td>
            <td>2022-06-30</td>
            <td>1</td>
            <td>0.1293322</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-05-01</td>
            <td>2022-05-30</td>
            <td>1</td>
            <td>1.8540636</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-05-01</td>
            <td>2022-05-30</td>
            <td>1</td>
            <td>0.4391887</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-05-01</td>
            <td>2022-05-30</td>
            <td>1</td>
            <td>5.8049613</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>12.1355381</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.1222925</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.4737545</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.294847</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.294847</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.294847</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.294847</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>CheckVIZEN Dashboard</td>
            <td>2022-08-23</td>
            <td>2022-08-30</td>
            <td>1</td>
            <td>0.294847</td>
            <td>N/A</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
</div>
